/* Deprecated Slide Texts */
#slide-textarea1 {
  position: absolute;
  left: 9vw;
  bottom: 8vw;
  width: 22vw;
  height: 22vw;
  text-align: center;
  border: solid #fff 0.3vw;
}

#slide-textarea1::before {
  /* 垂直置中 */
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

#slide-text1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 4vw;
  color: #fff;
}

#slide-textarea2-1,
#slide-textarea2-2,
#slide-textarea2-3 {
  position: absolute;
}

#slide-textarea2-1 {
  top: 11vw;
  right: 29vw;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
}

#slide-textarea2-2 {
  top: 32vw;
  right: 35vw;
}

#slide-textarea2-3 {
  top: 34vw;
  right: 31.5vw;
}

#slide-text2-1-1,
#slide-text2-1-2,
#slide-text2-2-1,
#slide-text2-2-2 {
  font-size: 5vw;
}

#slide-text2-1-2,
#slide-text2-2-1 {
  color: #973208;
}

#slide-text2-1-1,
#slide-text2-2-2,
#slide-text2-3 {
  color: #201000;
}

#slide-textarea2-1 span:last-of-type::after {
  content: '';
  position: absolute;
  top: 11vw;
  right: 0;
  height: 70%;
  border-right: 1px solid #666;
}

#slide-textarea2-3 span:last-of-type::after {
  content: '';
  position: absolute;
  top: -1vw;
  left: -17vw;
  width: 600%;
  border-top: 1px solid #666;
}

#slide-text2-3 {
  font-size: 5vw;
}

#slide-textarea3 {
  position: absolute;
  bottom: 8vw;
  right: 6vw;
}

#slide-textarea3::before {
  content: '';
  position: absolute;
  width: 40%;
  border-top: 1px solid #fff;
}

#slide-textarea3::after {
  content: '';
  position: absolute;
  right: 0;
  width: 60%;
  border-bottom: 1px solid #fff;
}

#slide-text3 {
  font-size: 3vw;
  font-weight: 300;
  color: #fff;
  letter-spacing: 6px;
  padding: 18px;
}

#slide-textarea4 {
  position: absolute;
  top: 33%;
  left: 30%;
  width: 40%;
  text-align: center;
}

#slide-textarea4::before,
#slide-textarea4::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

#slide-textarea4::before {
  border-top: 1px solid #fff;
}

#slide-textarea4::after {
  border-bottom: 1px solid #fff;
}

#slide-text4 {
  font-size: 4vw;
  font-weight: 300;
  color: #fff;
  letter-spacing: 8px;
  padding: 18px;
}
