@import url(font-awesome.min.css);

html,
body {
	margin: 0;
	padding: 0;
	background-color: #ddd;
}

h2, h3, h4, h5, h6, p, a {
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	color: #777;
}

a {
	text-decoration: none;
}

a:hover {
	color: #00A0C6;
	text-decoration: none;
	cursor: pointer;
}

hr {
	border: 0;
	height: 1px;
	color: #999;
	background-color: #999;
	width: 90%;
}

/* Navbar */
.nav-custom {
	background-color: #fff;
	/* outline: 0; */
}

.nav-custom a {
	letter-spacing: 5px;
	margin-top: 15px;
}

.nav-custom .nav li a {
	margin-right: 5px;
	/*
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	*/
}
	.nav-custom .nav li a:hover {
		color: #333;
		background-color: transparent;
		/* outline: 0; */
	}
	.nav-custom .nav li a:focus {
		background-color: transparent;
		/* outline: 0; */
	}

.navbar-brand {
	padding: 0 0 0 15px;
}

.logo {
	height: 50px;
	width: auto;
}

/* collapse btn icon in small screen */
.icon-bar {
	background: #777;
}

/* Contents */
.content {
	margin-top: 120px;
	text-align: center;
}

.choice {
	background-color: #fff;
	/* on grid system xs-screen */
	max-width: 90%;
	/* 高度上限 */
	max-height: 340px;
	margin: 20px auto;
	padding: 50px 50px;
	/* 自動生成滾軸 */
	overflow: auto;
	text-align: initial;
}

.intro,
.choice {
	box-shadow: 4px 4px 12px -2px rgba(20%, 20%, 20%, 0.5);
}

.choice p {
	margin: 0;
	white-space: pre-line;
}

/* 精選相片（img）/影片 */
.selected {
	margin-top: 10px;
	width: 100%;
	height: auto;
}

/* footer */
.footer {
	position: relative;
	width: 100%;
}