@import url(font-awesome.min.css);
@import url(basic.css);
@import url(navbar.css);
@import url(choice.css);

/* Contents */
.content {
	margin-top: 120px;
	text-align: center;
}
@media (max-width: 767px) {
	.choice {
		width: 90%;
		margin: 20px auto;
	}
}
@media (min-width: 768px) {
	.choice {
		width: 48%;
		margin: 20px 1%;
	}
}
@media (min-width: 992px) {
	.choice {
		width: 31%;
		margin: 20px 1%;
	}
}

/* Choices */
.choice-video {
	padding: 50px 10px;
}
