@import url(font-awesome.min.css);
@import url(basic.css);
@import url(navbar.css);
@import url(choice.css);

/* Contents */
.intro {
	margin: 140px auto 0;
	padding: 20px;
	background-color: #fff;
	max-width: 90%;
}
.intro h1 {
	color: #56EAD8;
}

/* animations */
.activity-photo {
	margin-top: 140px;
}

/* Choices */
.choices {
	text-align: center;
}
.choice {
	margin: 20px 10px;
}

.choice-video {
	padding: 50px;
}

/* Arrows */
.slick-prev:before,
.slick-next:before {
	font-size: 30px;
}
